PORT=8080
NODE_ENV=DEVELOPMENT
DB_URI=mongodb://localhost:27017/foodapp
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES=90d
JWT_EXPIRES_TIME=90
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
FRONTEND_URL="http://localhost:5173/"
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_API_KEY=your_stripe_api_key_here
